<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator />
    </div>
    <div class="workspace">
        <main>
            <div class="warning" *ngIf="error; else templateName">
                <div class="warning-wrapper">
                    <div class="warning-header">
                        <img [src]="'assets/images/'+iconName+'.svg'" alt="img">
                        <p>{{error}}</p>
                    </div>
                </div>
            </div>
            <ng-template #templateName>
                <div class="charts" *ngIf="mainChartUrl">
                    <div class="chart-wrapper">
                        <div class="chart-wrapper-main">
                            <header>
                                <div class="tabs">
                                    <div *ngFor="let chart of chartNames"
                                        [ngClass]="{tab: true, horizontal: true, active: type===chart}"
                                        (click)="onChartTypeChanged(chart)">
                                        <p>{{getChartAllias(chart)}}</p>
                                    </div>
                                </div>
                            </header>
                            <div class="chart-window">
                                <iframe [src]="mainChartUrl" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="chart-wrapper-manufacturers">
                            <!-- <div class="diagramm">
                                <iframe [src]="donutChartUrl" frameborder="0"></iframe>
                            </div> -->
                            <div class="manufacturersTable">
                                <app-manufacturer-count-table [all]="all" [activatedColumns]="activatedColumns" />
                            </div>
                        </div>
                    </div>
                </div>
                <header>
                    <div class="tabs">
                        <div *ngFor="let ruComponentType of getKeyArrayFromStorage()"
                            [ngClass]="{tab: true, horizontal: true, active: selectedRuComponentType===ruComponentType}"
                            (click)="onRuComponentTypeSelected(ruComponentType); initColumns()">
                            <p>{{prioritySchemaWrapper2Map.get(ruComponentType)}}</p>
                        </div>
                    </div>
                    <div class="header">
                        <p>Приоритеты</p>
                        <div class="search">
                            <input type="text" placeholder="Поиск(не работает пока)">
                        </div>
                    </div>
                </header>
                <div class="body-main">
                    <div class="priorities" *ngIf="priorities.length">
                        <div class="tabs tabs-vertical">
                            <!-- <div [ngClass]="{tab: true, vertical: true, active: priority==='Все'}"
                                (click)="onPriorityChange('Все')">
                                <p>Все</p>
                            </div> -->
                            <div *ngFor="let p of priorities; let i = index"
                                [ngClass]="{tab: true, vertical: true, active: priority===p}"
                                (click)="onPriorityChange(p); initColumns()">
                                <p>
                                <span *ngIf="i !== 0"><span *ngFor="let prev of getArraFromLastIndex(i)">{{i}}+</span></span>{{i + 1}} приоритет - {{allias.get(p)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="t-body" [ngStyle]="{'width': priorities.length ? '83%': '96%'}">
                        <div class="t-body-wrapper">
                            <table align="left" *ngIf="all.length; else template">
                                <thead>
                                    <tr>
                                        <td *ngFor="let column of columns">{{column}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of all">
                                        <td *ngFor="let value of getRecordsFromObjAsArray(record)">{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #template>
                                <div class="warning">
                                    <div class="warning-wrapper">
                                        <div class="warning-header">
                                            <img [src]="'assets/images/not_found.svg'" alt="img">
                                            <p>Ничего не найдено</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-template>
        </main>
    </div>
    <app-loader [ngStyle]="{display: loader ? 'block' : 'none'}" />
</div>