.workspace {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 1vw;
}

.workspace main {
    border: .1vw solid lightgray;
    background-color: white;
    width: 70%;
    border-radius: .5vw;
    height: 100%;
    padding: none;
}

.workspace main section {
    height: 100%;
}



.block {
    margin: 0;
}

.component-selection {
    display: flex;
}

.component-selection .view {
    width: 30%;
}

.componetn-selection .controlles {
    width: 70%;
}

.menu li a {
    color: black;
}

.menu h1 {
    font-size: max(1.5vw, 15px);
    font-weight: lighter;
    margin: 0.5vw 0 1vw 2vw;
}

.menu li {
    padding: 0.25vw 0.75vw;
}

.menu li:hover {
    background: rgba(211, 211, 211, 0.5);
    border-radius: 0.5vw;
}

.controlles {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.step-description {
    font-size: max(1.5vw, 15px);
    font-weight: lighter;
    margin-bottom: 1vw;
}

.blocked {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.controlles .steps-panel {
    height: 100%;
    margin: 1vw 1vw 0;
    position: relative;
    overflow: hidden;
}

.controlles .steps-panel .step {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
    background-color: white;
    left: 0;
    padding: 0 0.5vw 1.5vw 0;
    box-sizing: border-box;
    overflow: hidden;
}

.controlles .btns {
    display: flex;
    justify-content: space-between;
    margin: 0 1vw 1vw;
}

.controlles .btns button {
    margin-right: 1.5vw;
}


.info .disabled {
    background: lightgray;
    opacity: 0.5;
}


.type {
    background-color: white;
    border: 0.1vw solid lightgray;
    color: black;
    display: inline-block;
    padding: 0.5vw 1vw;
    transition: 0.3s ease all;
    border-radius: 0.5vw;
    margin: 0 1.5vw 0.5vw 0;
    cursor: pointer;
    font-size: max(1vw, 12px);
}

.type:hover {
    background: rgba(51, 51, 51, 90%);
    /* background-color: black; */
    color: white;
}

.activated {
    background: rgba(51, 51, 51, 90%);
    /* background-color: black; */
    color: white;
}

.column {
    display: flex;
    align-items: center;
    margin-bottom: 0.5vw;
}

/* .column p,
.column input {
    margin: 0;
}
*/
.column p {
    font-size: max(1vw, 12px);
    margin-left: 0.5vw;
}


.column p,
.column input {
    margin: 0;
}

.column input {
    width: max(1vw, 10px);
    height: max(1vw, 10px);
    margin-right: 0.5vw;
}


.actions {
    border-top: 0.1vw solid grey;
    padding-top: 1vw;
    margin-top: 1vw;
}

.columns {
    margin: 0;
}