<div class="app-main">
    <div class="workspace">
        <main>
            <section class="component-selection">
                <div class="controlles">
                    <div class="steps-panel" *ngIf="dropBoxPropsMapConfig">
                        <app-step-tablename [componentTypes]="getComponentTypes()" [storage]="storage" [index]="1" class="step step1"
                            [ngStyle]="{'z-index': 1, 'left': selectionStorage.getState().stepper['step1']?.positionX + '%'}"
                            (typeChanged)="onTypeSelected($event)"
                            [dropBoxPropsMapConfig]="dropBoxPropsMapConfig" [columns]="priorities" 
                            [alias]="alias" />
                        <app-step-priorities [alias]="alias" [columns]="columns" [index]="2" class="step step2"
                            [ngStyle]="{'left': selectionStorage.getState().stepper['step2']?.positionX + '%'}"
                            (onChanged)="onPriorityChanged($event)" [RuComponentType]="dropBoxPropsMapConfig.get('RuComponentType').currentValue" />
                        <app-step-values  class="step" [alias]="alias" [dropBoxPropsMapConfig]="dropBoxPropsMapConfig"
                            [all]="all" *ngFor="let column of prioritiesNoJumps; let i = index" [columnName]="column.name"
                            [index]="i+3" [ngStyle]="{'left': getPositionX(i+3) + '%'}"
                            (onValueChanged)="onDropBoxValueChnaged($event)"
                            (onSourceChanged)="onDropBoxSourceChnaged($event)" [currentIndex]="selectionStorage.getState().step+1"
                            [activeKeys]="activeKeys" [storage]="storage" [prevSelection]="getPrevSelection()" />
                    </div>
                    <div class="btns">
                        <div class="block">
                            <button [ngStyle]="{display: 'block'}"  class="def" (click)="openSelectionView()">Выйти</button>
                        </div>
                        <div class="block">
                            <button class="rev" (click)="prev()">Назад</button>
                            <button class="def" (click)="st ? makeQueryStr() : next()">{{st && selectionStorage.getState().step > 1 ? 'Реузльтат' :
                                'Дальше' }}</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <app-popup-window (onWarningClose)="onWarningClose()" [message]="warningMessage" [ngStyle]="{display: warning ? 'block' : 'none'}" />
    <app-loader [ngStyle]="{display: loader ? 'block' : 'none'}" />
</div>