.workspace main {
    border-radius: 1vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

.chart-wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5vw;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 1vw 1vw 1vw;
    background-color: rgb(66 66 66);
}


.chart-wrapper .aside-panel {
    width: 20%;
    height: 100%;
}

.chart-wrapper .aside-panel .tabs {
    height: 95%;
    padding: 0.5vw;
}


.chart-wrapper .aside-panel .panel-name {
    /* background-color: rgba(51, 51, 51, 80%); */
    border-bottom: 0.1vw solid gray;
    background: rgb(88, 88, 88);
    display: flex;
    align-items: center;
}

.chart-wrapper .aside-panel .tabs .activated {
    background-color: gray;
}



.chart-wrapper .aside-panel .tabs .children {
    position: relative;
}

.chart-wrapper .aside-panel .tabs .line {
    display: flex;
    align-self: center;
    position: absolute;
    left: 1.2vw;
    height: 100%;
    z-index: 0;
    width: .05vw;
    background-color: white;
    top: 0;
}

.chart-wrapper .aside-panel .tabs .tab p {
    align-self: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    font-size: max(0.8vw, 8px);
}

header .tabs .tab {
    /* border-left: 0.1vw solid gray; */
    border-right: 0.1vw solid gray;
    margin: 0;
}

header .tabs .tab,
header .tabs {
    height: 100%;
    display: flex;
}

.chart-wrapper .aside-panel .tabs .tab {
    background-color: unset;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    position: relative;
    z-index: 1;
}

.chart-wrapper .aside-panel .tabs .tab:hover,
.chart-wrapper .aside-panel .tabs .active {
    background-color: grey;
}

.chart-wrapper .aside-panel .panel-name p {
    font-size: max(1vw, 10px);
    font-weight: lighter;
    margin: 0;
    padding: 0.5vw 1vw;
    font-size: max(1vw, 10px);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header,
.chart-wrapper .chart-wrapper-main .space-section,
.chart-wrapper .aside-panel .panel-name {
    height: 5%;
}


.chart-wrapper .chart-wrapper-main .chart-window iframe {
    /* width: 75%; */
    border-radius: unset;
}

.chart-wrapper .chart-wrapper-main .chart-window .tabs-vertical {
    width: 15%;
}

.chart-wrapper .chart-wrapper-main .chart-window .tabs-vertical .tab {
    width: 99%;

}

.chart-wrapper .chart-wrapper-main .chart-window,
.wrapper .selection {
    background-color: white;
    margin: 0;
}


.chart-wrapper .chart-wrapper-main .bottom-section {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
}

.chart-wrapper .chart-wrapper-main .event-border {
    height: 0.5vw;
    width: 100%;
    background-color: lightgrey;
    transition: all ease 0.3s;
    cursor: grab;
}


.chart-wrapper .chart-wrapper-main .chart-window {
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.chart-wrapper .chart-wrapper-main {
    width: 100%;
    margin: 0;
}

.header {
    padding: 1.5vw 2vw;
    background-color: white;
    border-radius: 0 .5vw 0 0;
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.header .search {
    display: inline-block;
}


.header>p {
    font-size: max(1.4vw, 14px);
    font-weight: 300;
    padding: 0.5vw 0;
    margin: 0;
}

.t-body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 1vw;
    background-color: #f2f2f2;
}

.t-body-wrapper {
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

table {
    background-color: v;
    border-radius: 0 0 1vw 1vw;
    border-collapse: collapse;
    overflow-x: scroll;
}


thead td {
    font-size: max(1vw, 10px);
    padding: 0.5vw 1.5vw;
    background-color: #7490f8;
    color: white;
    border: 0.1vw solid white;
    white-space: nowrap;
}

tbody td {
    font-size: max(0.8vw, 8px);
    padding: 0.5vw 1.5vw;
    vertical-align: top;
    border: 0.1vw solid lightgray;
    white-space: nowrap;
}

.body-main {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 1vw;
    border-radius: 0 .5vw .5vw .5vw;
    height: 95%;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.body-main .t-aside {
    width: 18%;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-main .t-aside .tabs {
    height: 54vh;
    overflow-y: scroll;
    padding-right: .5vw;
}

.body-main .t-header {
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.t-aside h1 {
    font-size: max(2vw, 20px);
    font-weight: lighter;
    margin-bottom: 1.5vw;
}

.t-aside p {
    font-size: max(1.4vw, 14px);
    font-weight: 300;
    padding: 0.5vw 0;
    margin-right: 0.5vw;
}

.t-header p {
    font-size: max(1vw, 10px);
    margin: 0 2vw;
}

.tabs-header {
    margin: 0 1vw 1vw 1vw;
}

.t-aside>p {
    margin: 1vw 0 1vw 1vw;
}

.priorities-wrapper {
    height: 60%;
}

.t-footer {
    height: 10%;
    display: flex;
    padding: 1.5vw 0 0 0;
    box-sizing: border-box;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    align-items: flex-end;
}

.t-footer button {
    margin-right: 0.5vw;
}

.warning {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning .warning-wrapper {
    width: 40%;
    padding: 3vw;
    background-color: white;
    border-radius: 1.5vw;
}

.warning .warning-wrapper .warning-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning .warning-wrapper .warning-header p,
.warning .warning-wrapper .warning-header img {
    margin: 0;
}

.warning .warning-wrapper .warning-header img {
    width: 5vw;
    height: 5vw;
    margin-right: 2vw;
}

.warning .warning-wrapper .warning-header p {
    font-size: max(2vw, 20px);
    font-weight: lighter;
}

.warning .warning-wrapper .warning-msg {
    margin-top: 3vw;
    font-size: max(1.5vw, 15px);
}

.charts {
    height: 40vw;
    width: 100%;
    border-radius: 1vw 1vw 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.chart-wrapper-main {
    /* background-color: white; */
    width: 67%;
}

.chart-window {
    background-color: white;
    border-radius: 0 1vw 1vw 1vw;
    height: 93%;
}

.chart-wrapper-manufacturers {
    width: 30%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chart-wrapper-manufacturers .diagramm,
.chart-wrapper-manufacturers .manufacturersTable {
    background-color: white;
    border-radius: 1vw;
}

.chart-wrapper-manufacturers .diagramm {
    height: 35%;
    width: 100%;
}

.chart-wrapper-manufacturers .manufacturersTable {
    height: 93%;
    width: 100%;
    overflow-y: scroll;
}