.workspace {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.workspace main {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 80%;
    border-radius: 1.5vw;
}

.view {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1.5vw 0;
}

.view a {
    font-size: max(1vw, 12px);
    color: black;
    margin: 0 1.5vw;
}

.controlles {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.controlles .step-description {
    font-size: max(1.5vw, 15px);
    font-weight: lighter;
    margin-bottom: 2vw;
}

.controlles .steps-panel {
    height: 25vw;
    margin: 1.5vw;
    position: relative;
    overflow-x: hidden;
}

.controlles .steps-panel .step {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
    background-color: white;
    left: 0;
    padding: 0 0.5vw 0.5vw;
    overflow: scroll;
}

.controlles .btns {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1.5vw 0;
}

.controlles .btns button {
    margin-right: 1.5vw;
}

.view .info {
    margin: 1.5vw;
    height: 25vw;
    overflow: scroll;
}

.view .info h1 {
    font-size: max(1.5vw, 15px);
    font-weight: lighter;
    margin-bottom: 1.5vw;
}

.view .info .info-header {
    font-size: max(1.5vw, 15px);
}

.view .info p {
    font-size: max(1.4vw, 14px);
    font-weight: lighter;
    padding: 0.5vw 0;
    border-top: 0.1vw solid grey;
    margin-right: 0.5vw;
}

.step .type {
    background-color: white;
    border: 0.1vw solid lightgray;
    color: black;
    display: inline-block;
    padding: 0.5vw 1vw;
    transition: 0.3s ease all;
    border-radius: 0.5vw;
    margin: 0 1.5vw 0.5vw 0;
    cursor: pointer;
    font-size: max(1vw, 12px);
}

.step .type:hover {
    background-color: black;
    color: white;
}

.step .activated {
    background-color: black;
    color: white;
}

.step .column {
    display: flex;

}

.step .column p,
.step .column input {
    margin: 0;
}

.step .column p {
    font-size: max(1vw, 12px);
    margin-left: 0.5vw;
}

.step .column input {
    width: max(1vw, 10px);
}

.actions {
    border-top: 0.1vw solid grey;
    padding-top: 1vw;
}

.columns {
    height: 80%;
    overflow: scroll;
}

/* .step2 {
    display: flex;
    justify-content: space-between;
}

.action-blocks, .columns {
    width: 50%;
}

.action-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.action-blocks .action-block {
    width: 45%;
    height: 45%;
    border-radius: 1vw;
} */
/* 
.view .stepper {
    height: 25vw;
    margin: 1.5vw;
    display: flex;
}

.view .stepper .indexes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    position: relative;
    width: 20%;
}

.view .stepper .indexes p {
    color: white;
    background-color: #7490f8;
    padding: 45%;
    clip-path: circle(40%);
    font-size: max(1vw, 12px);
    margin-left: 0;
}

.view .stepper .indexes .line {
    background-color: #7490f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view .stepper .labels {
    width: 80%;
} */