.workspace {
    position: relative;
}

.workspace main {
    margin: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workspace .tool-bar {
    width: 48%;
    transition: all ease 0.5s;
}

.workspace .tool-bar-state {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.workspace .tool-bar-wrapper {
    height: 100vh;
    padding: 1.5vw;
    box-sizing: border-box;
    /* width: 35%; */
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid lightgray;
    display: flex;
    align-items: flex-start;
    position: absolute;
    transition: all ease 0.5s;
    z-index: 9;
}

.workspace .tool-bar-wrapper .tool-bar-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* .workspace .tool-bar-state img {

} */



.workspace .tool-bar-state {
    font-size: max(1vw, 10px);
    display: flex;
    align-items: center;
    padding: 0 1vw 0 4vw;
    background-color: white;
    border-radius: 0 1vw 1vw 0;
    transition: all ease 1.2s;
    text-decoration: underline;
    cursor: pointer;
}

.workspace .holder {
    position: absolute;
    top: 1.5vw;
    left: 0;
    z-index: 8;
    padding: 0.5vw 1vw;
}

.workspace .tool-bar-state::after {
    content: url("../../assets/images/left.svg");
    width: max(0.9vw, 10px);
    height: max(0.9vw, 10px);
    display: block;
}

.workspace main .chart-template {
    height: 40%;
    width: 80%;
    background-color: white;
    border-radius: 2vw;
    transition: all ease 0.5s;
}