<div class="popup-window">
    <div class="filters">
        <div class="head">
            <h1>Фильтры</h1>
        </div>
        <div class="body">
            <div class="base">
                <app-dropbox-provider [alliasName]="`${allias.get('ruComponentType')}`"
                    [currentName]="currentDropBoxName" [all]="all" [propsMap]="dropBoxPropsMapConfig"
                    [name]="'ruComponentType'" (onStateChanged)="onCurrentDropBoxNameChnaged($event)"
                    (onStateChanged)="onRuComponentTypeChanged($event)" />
                <app-dropbox-provider [alliasName]="`${allias.get('manufacturerName')}`"
                    [currentName]="currentDropBoxName" [all]="all" [propsMap]="dropBoxPropsMapConfig"
                    [name]="'manufacturerName'" (onStateChanged)="onCurrentDropBoxNameChnaged($event)" />
                <app-dropbox-provider [alliasName]="`${allias.get('ruComponentKind')}`"
                    [currentName]="currentDropBoxName" [all]="all" [propsMap]="dropBoxPropsMapConfig"
                    [name]="'ruComponentKind'" (onStateChanged)="onCurrentDropBoxNameChnaged($event)" />
            </div>
            <div class="additional">
                <app-dropbox-provider *ngFor="let column of selectedColumns" [alliasName]="`${allias.get(column)}`"
                    [currentName]="currentDropBoxName" [all]="all" [propsMap]="dropBoxPropsMapConfig" [name]="column"
                    (onStateChanged)="onCurrentDropBoxNameChnaged($event)" />
            </div>
        </div>
        <div class="footer">
            <button class="cancel" (click)="cancel()">Отмена</button>
            <button class="apply" (click)="apply()">Применить</button>
        </div>
    </div>
</div>