<div class="popup-window">
    <div class="filters">
        <div class="head">
            <h1>Filters</h1>
        </div>
        <div class="body">
            <div class="base">
                <app-prop-selection 
                [all]="all" 
                [options]="{
                    propName: 'ruComponentType',
                    open: currentPropName === 'ruComponentType' 
                }" 
                [currentPropName]="currentPropName"
                [props]="props"
                (onChanged)="update($event)" /> 
                <app-prop-selection 
                [all]="all" 
                [options]="{
                    propName: 'ruComponentKind',
                    open: currentPropName === 'ruComponentKind'
                }" 
                [currentPropName]="currentPropName"
                [props]="props"
                (onChanged)="update($event)" />
                <app-prop-selection 
                [all]="all" 
                [options]="{
                    propName: 'manufacturerName',
                    open: currentPropName === 'manufacturerName'
                }" 
                [currentPropName]="currentPropName"
                [props]="props"
                (onChanged)="update($event)" /> 
            </div>
            <div class="additional">
                <p *ngIf="!isSelectedComponentType; else templateName">select component type</p>

                <ng-template #templateName>
                    <app-prop-selection *ngFor="let prop of additional" 
                    [all]="all" 
                    [options]="{
                        propName: prop,
                        open: currentPropName === prop 
                    }" 
                    [props]="componentTypeProp"
                    (onChanged)="update($event)" /> 
                </ng-template>
               
                
            </div>
        </div>
        <div class="footer">
            <button class="cancel" (click)="cancel()">cancel</button>
            <button class="apply" (click)="apply()">apply</button>
        </div>
    </div>
</div>