<div class="popup-window">
    <div class="filters">
        <div class="head">
            <h1>Дополнительные параметры</h1>
        </div>
        <div class="body">
            <div class="base">
                <!-- <app-dropbox-provider [aliasName]="`${alias.get('RuComponentType')}`"
                    [currentName]="currentDropBoxName" [all]="all" [propsMap]="dropBoxPropsMapConfig"
                    [name]="'RuComponentType'" (onStateChanged)="onCurrentDropBoxNameChnaged($event)"
                    (onStateChanged)="onRuComponentTypeChanged($event)" /> -->
                <app-dropbox-provider 
                    [inputValue]="dropBoxPropsMapConfig.get('ManufacturerName').currentValue"
                    [aliasName]="`${alias.get('ManufacturerName')}`" 
                    [currentName]="currentDropBoxName" 
                    [all]="all"
                    [propsMap]="dropBoxPropsMapConfig" 
                    [name]="'ManufacturerName'"
                    (onStateChanged)="onCurrentDropBoxNameChnaged($event)" />
                <app-dropbox-provider 
                    [inputValue]="dropBoxPropsMapConfig.get('RuComponentKind').currentValue"
                    [aliasName]="`${alias.get('RuComponentKind')}`" 
                    [currentName]="currentDropBoxName" 
                    [all]="all"
                    [propsMap]="dropBoxPropsMapConfig" 
                    [name]="'RuComponentKind'"
                    (onStateChanged)="onCurrentDropBoxNameChnaged($event)" />
            </div>
            <div class="additional">
                <app-dropbox-provider *ngFor="let column of selectedColumns"
                    [inputValue]="dropBoxPropsMapConfig.get(column).currentValue"
                    [aliasName]="`${alias.get(column)}`"
                    [currentName]="currentDropBoxName" 
                    [all]="all" 
                    [propsMap]="dropBoxPropsMapConfig" 
                    [name]="column"
                    (onStateChanged)="onCurrentDropBoxNameChnaged($event)" />
            </div>
        </div>
        <div class="footer">
            <button class="rev" (click)="cancel()">Отмена</button>
            <button class="def" (click)="apply()">Применить</button>
        </div>
    </div>
</div>