.list .values ul,
.list .values .current {
    background-color: white;
}

.list .values .current {
    text-align: center;
    display: flex;

}

.list .values .current,
li {
    cursor: pointer;
}
/* 
.options .list { 
    margin: 1vw;
} */

.options .list-wrapper {
    margin: 0;
}
 
.list-wrapper .list .label {
    font-size: max(1vw, 15px);
}

.options .list-wrapper .list .label,
.options .list-wrapper .list .values {
    margin-bottom: 1vw;
    word-wrap: break-word;
}

.values-wrapper {
    position: relative;
}

.options .values-wrapper {
    margin: 0;
}

.list .values {
    /* margin: 1vw 0; */
    display: flex;
}

.list .values .current {
    max-width: 15vw;
    padding: 0.5vw 2vw;
    color: black;
    border-radius: 0.5vw;
    /* display: inline-block; */
    font-size: max(1vw, 5px);
    border: 0.1vw solid lightgray;
    margin: 0;
}
li {
    list-style-type: none;
}

.values-wrapper ul {
    background: white;
    position: absolute;
    /* top: 1vw; */
    border-radius: 0.5vw;
    height: 25vh;
    width: 20vw;
    overflow-y: scroll;
    overflow-x: none;
    box-shadow: 0 0 1vw 0.1vw gray;
    z-index: 1;
    top: 0;
}




.search {
    padding: 0;
    margin: 0;
}

.search input {
    color: black;
    background-color: transparent;
    border: none;
    padding: 1vw;
    font-size: max(1vw, 10px);
    border: .1vw solid lightgray;
    border-radius: .5vw;
    padding: .5vw;
    width: 100%;
}


/* ul li input[type=text]::-webkit-input-placeholder::after {
    content: url('../../assets/images/search.svg');
    width: max(1vw, 10px);
    height: max(1vw, 10px);
    display: block;
    visibility: visible;

} */

ul li input:focus {
    outline: none;
}

ul li {
    padding: 1vw;
    font-size: max(1vw, 5px);
    color: black;
    display: flex;
    align-items: center;
}

ul li p,
ul li img {
    margin: 0;
}

ul li img {
    height: max(1.5vw, 20px);
    width: max(1.5vw, 20px);
    margin-right: 1vw;
}