<p class="step-description">Шаг {{index}}: Заполнение значения параметра {{alias.get(columnName)}}</p>
<div class="step-screen">

    <div class="step-body">
        <div class="charts">
            <app-chart *ngIf="queryObj.size" class="chart" [alias]="alias"
                [all]="obj" [type_name]="'line'" [chart_name]="'column-line'" [query]="queryObj" />
            <app-chart *ngIf="queryObj.size" class="chart" [alias]="alias" 
                [all]="obj" [type_name]="'bar'" [chart_name]="'column'" [query]="queryObj" />
        </div>

        <app-parameter-value-count-table class="table" [all]="manufacturersStat" [noRedirect]="true"
            (onValueChanged)="onManufacturerChanged($event)" [aliasName]="'Количество'" [parameter]="'manufacturerName'"
            [parameterAlias]="alias.get('manufacturerName')!" />
    </div>
    <div class="step-footer">
        <div class="search">
            <p>{{this.currentSelection.length ? 'Найдено ' + this.currentSelection.length : 'Ничего не найдено'}}</p>
            <app-dropbox-provider class="dropbox" [aliasName]="`${alias.get(columnName)}`" [all]="all"
                [propsMap]="dropBoxPropsMapConfig" [name]="columnName" [currentName]="currentDropBoxName"
                (onStateChanged)="onCurrentDropBoxNameChnaged($event)" [inputDisabled]="false"
                [inputValue]="inputValue" />
        </div>
        <div class="list-values">
            <p>Существующие значения</p>
            <app-parameter-value-count-table [allowNull]="true" class="list" [hideLabel]="true" [all]="parameterStat"
                [aliasName]="'Количество'" [parameter]="columnName" [parameterAlias]="alias.get(columnName)!"
                [currentValue]="inputValue" (onValueChanged)="onParameterChnaged($event)" [noRedirect]="true" />
        </div>
    </div>
</div>