.box {
    text-align: center;
    margin: 0;
    border: 0.1vw solid #dcdcdc;
    transition: all ease .5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity {
    position: relative;
    color: #7f7f7f;
    height: 100%;
    display: flex

}

.quantity input[type="number"] {
    transition: border .3s ease-in-out, color .3s ease-in-out;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-family: Arial, sans-serif;
    font-size: max(1vw, 10px);
    line-height: 24px;
    font-weight: 700;
    box-shadow: none;
    outline: none;
    width: 2vw;
    height: 2vw;
    text-align: center;
    float: right;
    border-right: 0.1vw solid #dcdcdc;
    border-left: 0.1vw solid #dcdcdc;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    color: #342f2f;
}

.quantity-button {
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    position: relative;
    cursor: pointer;
    font-size: max(1vw, 10px);
}

.quantity-button::before,
.quantity-button::after {
    position: absolute;
    content: "";
    width: .75vw;
    height: .1vw;
    background-color: currentColor;
    display: block;
    font-weight: lighter;
}

.quantity-remove::after {
    display: none;
}


.quantity-add::after {
    transform: rotate(90deg);
}


p {
    font-size: max(1vw, 12px);
    margin-left: 0.5vw;
}

.disabled {
    background-color: lightgray;
}

.disabled .quantity-button  {
    cursor: unset;
}

.warning {
    background-color: lightcoral;
}