<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator [current]="'/selection-priorities'" />
    </div>
    <div class="workspace">
        <header class="workspace-header">
            <p class="item item-h">Выборка по параметрам</p>
            <!-- <div class="btn-wapper">
                <button class="rev i" *ngIf="priorities.length"
                    (click)="reportWindow = true"><span>Протокол</span></button>
                <button class="def" (click)="openBuilderPage()">Создать новую выборку</button>
            </div> -->
        </header>
        <div class="page-menu">
            <label class="item" [ngClass]="{selected: !chartView}" (click)="chartView=false">Таблица <span
                    class="line"></span></label>
            <label class="item" [ngClass]="{selected: chartView}" (click)="chartView=true">Графики <span
                    class="line"></span></label>
        </div>
        <div class="content">
            <main *ngIf="!chartView" [ngStyle]="{width: '85%'}">
                <section class="params m-section">
                    <div class="actions">
                        <div class="action action-vertical">
                            <label>Действия к выборке</label>
                            <div class="action-btns">
                                <button class="def" (click)="openBuilderPage()">Создать новую</button>
                                <button class="rev" *ngIf="priorities.length"
                                    (click)="reportWindow = true">Скачать протокол</button>
                            </div>
                        </div>

                        <!-- <button class="res">Очистить</button> -->
                        <!-- <label class="state-btn" *ngFor="let type of getComponentTypes(); let i = index"
                            [ngStyle]="{display: componentTypesActive[i] ? 'block' : 'none'}"
                            [ngClass]="{'state-btn-selected': getCurrentComponentType().ruComponentType == type.ruComponentType}"
                            (click)="onComponentTypeChanged(type);resetPagesExecute()">{{type.ruComponentType}}</label> -->
                    </div>
                    <div class="actions">
                        <div class="action action-vertical">
                            <label>Поиск</label>
                            <input class="search" type="text" class="search" [placeholder]="'По выбранному параметру'"
                                (input)="search($event)">
                        </div>
                        <div class="action action-vertical">
                            <label>Параметр</label>
                            <app-select-list class="search-select" [values]="activeColumns.currentSpaces"
                                (onValueChanged)="onColumnSelected($event)" />
                        </div>
                        <div class="action action-vertical">
                            <label>Сортировка по выбранному параметру</label>
                            <app-parameter-sorting [all]="resultBuffer" [parameter]="sortParam"
                                (onChange)="onSortValueSelected()" />
                        </div>
                    </div>
                </section>
                <!-- <section class="option-footer">
                    <div class="action action-filters" 
                        [ngStyle]="{width: '48%'}">
                        <p>Дополнительные параметры</p> -->
                <!-- (click)="filter=!filter" -->
                <!-- selectedKeysValues.length ?  -->
                <!-- </div>
                    <div class="action action-reset" [ngStyle]="{display: 'flex'}"
                   
                                > -->
                <!-- (click)="
                                resetKeyAndValues(dropBoxPropsMapConfig.get('ruComponentType').currentValue);
                                onTypeChangedUpdate(dropBoxPropsMapConfig.get('ruComponentType').currentValue)
                                " -->
                <!-- <p>Отчистить выбранные параметры</p>
                    </div>
                </section> -->
                <section class="table-block m-section">
                    <div class="panel" *ngIf="all.length; else noDataFound">
                        <div class="panel-h">
                            <label>
                                Компонентов {{resultBuffer.length}}
                            </label>
                        </div>
                        <div class="actions">
                            <div class="action action-inline">
                                <label></label>
                                <app-select-list-checkbox class="search-select" [values]="activeColumns.orig"
                                    [selected]="activeColumns.currentSpaces" [label]="'Показывать столбцы'"
                                    [id]="'column_mult'" (onValueChanged)="onColumnsSelected($event)" />
                            </div>
                            <div class="action action-inline pages"
                                *ngIf="resultBuffer && resultBuffer.length > ROWNUM">
                                <app-page-labels [records]="resultBuffer" [step]="3"
                                    (onPageSelected)="selectPage($event)" [rowsCount]="ROWNUM"
                                    [style]="{'margin': '0'}" />
                            </div>
                        </div>
                    </div>
                    <div class="table-frame" *ngIf="all.length">
                        <div class="table-frame-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <td *ngFor="let column of activeColumns.current; let i = index"
                                            [ngStyle]="{background: i == 0 ? '#7490f8' : 'unset', color: i == 0 ? 'white' : 'black'}">
                                            {{column}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of records">
                                        <td *ngFor="let entry of record">
                                            <a *ngIf="entry[0] === 'specificationDoc' && entry[1] else template"
                                                [href]="`${this.specificationRepoPath}${entry[1]}.pdf`">
                                                Спецификация</a>
                                            <ng-template #template>
                                                {{ entry[1] | emptyValue }}
                                            </ng-template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ng-template #noDataFound>
                        <section class="no-data">
                            <img src="../../../assets/images/not-found-gray.svg" alt="">
                            <p>Не найдено ни одного компонента</p>
                        </section>
                    </ng-template>
                </section>
            </main>
            <div class="phantom" *ngIf="priorityInit; else template" [style]="{'display': 'none'}">
                <div class="phantom-chart" *ngFor="let p of this.prioritiesBuffers; let i = index;">
                    <app-component-analytics *ngIf="loader == false" [hideNavigation]="true" [allowNull]="true"
                        [alias]="alias" [storage]="p[1]" [componentType]="getCurrentComponentType()"
                        (onChartChange)="onChartChangeDefault($event)" />
                </div>
                <!-- data['mainChartQuery']
      .set('x-labels-size', '1vw')
      .set('y-labels-size', '1vw'); -->
            </div>
            <ng-template #template>
                <app-component-analytics class="analytics" [ngStyle]="{width: '85%'}"
                    *ngIf="loader == false && chartView" [hideNavigation]="true" [allowNull]="true" [alias]="alias"
                    [storage]="storage" [removeOnChange]="false" [componentType]="getCurrentComponentType()"
                    [chartSectionName]="'column-final'" (onChartChange)="onChartChangeCurrent($event)" />
            </ng-template>
            <aside>
                <div class="recs">
                    <div class="rec" *ngIf="priorities && priorities.length; else prTemplateEmpty">

                        <div class="extens">
                            <div class="preview">
                                <p [style]="{'margin':'0'}">Приоритет</p>
                                <app-input-numeric class="count-controllers" [style]="{'margin':'0', 'scale': '0.85'}"
                                    [step]="1" [min]="1" [max]="priorities.length" [value]="priorities.length"
                                    (onChanged)="onPriorityChanged($event, 0)" />
                            </div>
                            <p class="ext-h">Учитываемые параметры</p>
                            <ul class="priorities">
                                <li *ngFor="let p of priorities; let i = index"
                                    [ngStyle]="{'display': i + 1 <= currentPriorityLength ? 'block' : 'none'}"
                                    [ngClass]="{tab: true}">{{i + 1}}
                                    {{alias ? alias.get(p[0]) : undefined}}:
                                    {{p[1]}}</li>
                            </ul>
                        </div>
                    </div>
                    <ng-template #prTemplateEmpty>
                        <div class="warning">
                            <p class="warning-h">Нет приоритетов</p>
                            <p class="warning-p">Последня выборка пустая или несуществует</p>
                        </div>
                    </ng-template>
                </div>
            </aside>
        </div>
    </div>
    <app-loader *ngIf="loader" />
    <app-report-builder *ngIf="reportWindow" (onClose)="reportWindow = false" [autoGeneratedSchema]="isAutoGenerated"
        [currentComponentType]="getCurrentComponentType()" [prioritiesChartsEntries]="prioritiesChartsEntries"
        [alias]="alias" />
</div>