<div class="chart-wrapper">
    <p>{{chartName}}</p>
    <apx-chart
    [series]="chartOptions.series!" 
    [chart]="chartOptions.chart!" 
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!" 
    [yaxis]="chartOptions.yaxis!" 
    [xaxis]="chartOptions.xaxis!"
    [colors]="chartOptions.colors!"
    [labels]="chartOptions.labels!"
    [title]="chartOptions.title!"
    [responsive]="chartOptions.responsive!"
    [colors]="chartOptions.colors!"
    [legend]="chartOptions.legend!"
  ></apx-chart>
  <button *ngIf="chartOptions.back" (click)="getBack()"  [disabled]="disabled" class="def">Назад</button>
</div>
    <!-- <app-loader [ngStyle]="{'display' : loader ? 'block' : 'none'}" /> -->
