<div class="chart-wrapper" *ngIf="chartOptions">
    <p *ngIf="!noHeader" [ngStyle]="{'font-size': paragraphSize ?? 'max(1vw, 10px)'}" >{{paragraphValue}}</p>
    <apx-chart 
    [ngStyle]="{ width: innerWidthPrecent ? innerWidthPrecent + '%' : '60%' }"
    class="apexcharts-bar-area"
    #apexChart
    [series]="chartOptions.series!" 
    [chart]="chartOptions.chart!" 
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!" 
    [yaxis]="chartOptions.yaxis!" 
    [xaxis]="chartOptions.xaxis!"
    [colors]="chartOptions.colors!"
    [labels]="chartOptions.labels!"
    [title]="chartOptions.title!"
    [responsive]="chartOptions.responsive!"
    [colors]="chartOptions.colors!"
    [legend]="chartOptions.legend!"
    [tooltip]="chartOptions.tooltip!"
  ></apx-chart>
</div>

