<div class="chart-wrapper">
    <p *ngIf="!noHeader" [ngStyle]="{'font-size': paragraphSize ?? 'max(1vw, 10px)'}" >{{paragraphValue}}</p>
    <apx-chart 
    [ngStyle]="{ width: innerWidthPrecent ? innerWidthPrecent + '%' : '60%' }"
    class="apexcharts-bar-area"
    #apexChart
    [series]="series" 
    [chart]="chart" 
    [dataLabels]="dataLabels"
    [plotOptions]="plotOptions" 
    [yaxis]="yaxis" 
    [xaxis]="xaxis"
    [colors]="colors"
    [labels]="labels"
    [title]="title"
    [responsive]="responsive"
    [colors]="colors"
    [legend]="legend"
    [tooltip]="tooltip"
  ></apx-chart>
</div>

