<div class="chart-wrapper" *ngIf="chartOptions">
    <p *ngIf="!noHeader" >{{chartName}}</p>
    <apx-chart 
    #apexChart
    [series]="chartOptions.series!" 
    [chart]="chartOptions.chart!" 
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!" 
    [yaxis]="chartOptions.yaxis!" 
    [xaxis]="chartOptions.xaxis!"
    [colors]="chartOptions.colors!"
    [labels]="chartOptions.labels!"
    [title]="chartOptions.title!"
    [responsive]="chartOptions.responsive!"
    [colors]="chartOptions.colors!"
    [legend]="chartOptions.legend!"
    [tooltip]="chartOptions.tooltip!"
  ></apx-chart>
  <!-- <button *ngIf="chartOptions && chartOptions.back" (click)="getBack()"  [disabled]="disabled" class="def">Назад</button> -->
</div>

