<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator [current]="'/table-builder'" [chartBlocked]="isStorageEmpty()" />
    </div>
    <div class="workspace">
        <main>
            <div class="warning" *ngIf="error; else templateName">
                <div class="warning-wrapper">
                    <div class="warning-header">
                        <img [src]="'assets/images/'+iconName+'.svg'" alt="img">
                        <p>{{error}}</p>
                    </div>
                </div>
            </div>
            <ng-template #templateName>
                <!-- <div class="charts" *ngIf="mainChartUrl">
                    <div class="chart-wrapper">
                        <div class="chart-wrapper-main">
                            <header>
                                <div class="tabs">
                                    <div *ngFor="let chart of chartNames"
                                        [ngClass]="{tab: true, horizontal: true, active: type===chart}"
                                        (click)="onChartTypeChanged(chart)">
                                        <p>{{getChartAllias(chart)}}</p>
                                    </div>
                                </div>
                            </header>
                            <div class="chart-window">
                                <iframe [src]="mainChartUrl" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="chart-wrapper-manufacturers">
                            <div class="manufacturersTable">
                                <app-manufacturer-count-table [all]="all" [activatedColumns]="activatedColumns" />
                            </div>
                        </div>
                    </div>
                </div> -->
                <header>
                    <div class="tabs">
                        <div *ngFor="let ruComponentType of getKeyArrayFromStorage()"
                            [ngClass]="{tab: true, horizontal: true, active: selectedRuComponentType===ruComponentType}"
                            (click)="onRuComponentTypeSelected(ruComponentType); initColumns()">
                            <p>{{prioritySchemaWrapper2Map.get(ruComponentType)}} <span
                                    *ngIf="selectedRuComponentType===ruComponentType">({{all.length}})</span> </p>
                        </div>
                    </div>

                </header>
                <div class="body-main">
                    <div class="t-header">
                    </div>
                    <div class="t-aside">
                        <div class="priorities-wrapper">
                            <div class="tabs-wrapper" *ngIf="priorities.length">
                                <p class="tabs-header">Приоритеты</p>
                                <div class="tabs tabs-vertical">
                                    <div *ngFor="let p of priorities; let i = index"
                                        [ngClass]="{tab: true, vertical: true, active: priority===p}"
                                        (click)="priority = p; initColumns()">
                                        <p>
                                            {{i + 1}}
                                            <span *ngIf="i !== 0">
                                                Добавление приоритета
                                            </span>
                                            {{allias.get(p)}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-body" [ngStyle]="{'width': priorities.length ? '80%': '96%'}">
                        <div class="t-body-wrapper">
                            <table align="left" *ngIf="all.length; else template">
                                <thead>
                                    <tr>
                                        <td *ngFor="let column of columns">{{column}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of all">
                                        <td *ngFor="let value of getRecordsFromObjAsArray(record)">{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #template>
                                <div class="warning">
                                    <div class="warning-wrapper">
                                        <div class="warning-header">
                                            <img [src]="'assets/images/not_found.svg'" alt="img">
                                            <p>Ничего не найдено</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="t-footer">
                        <button class="rev" (click)="back()"><span>Вернуться к построению</span></button>
                        <button [ngClass]="{def: this.actionState, rev: !this.actionState}" (click)="onStateChange()">{{this.actionState ? 'Сохранить': 'Отчистить'}}</button>
                    </div>
                </div>
            </ng-template>
        </main>
    </div>
    <app-loader [ngStyle]="{display: loader ? 'block' : 'none'}" />
</div>