<div class="options">
    <div class="list-wrapper">
        <div class="list">
            <p class="label">Сравнимый тип параметра</p>
            <ul class="values">

                <li class="current"  (click)="options.open =! options.open">
                    <p>{{options.currentValue}}</p>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="values-wrapper" >
        <ul [ngStyle]="{display: options.open ? 'block' : 'none'}">
            <li class="search">
                <input type="text" placeholder="поиск">
            </li>
            <li *ngFor="let value of options.values" (click)="selectProp(value)">
                {{value.allias}}
            </li> 
        </ul>
    </div>
</div>
<!-- 
<div class="list">
    <p class="label">Производитель</p>
    <div class="values">
        <p class="current" (click)="selectValue('manufacturerName')">
            {{dropdownOptions.manufacturerName.currentvalue}}</p>
        <div class="values-wrapper">
            <ul [ngStyle]="{display: dropdownOptions.manufacturerName.open ? 'block' : 'none'}">
                <li class="search">
                    <input type="text" placeholder="поиск">
                </li>
                <li *ngFor="let manufacturer of dropdownOptions.manufacturerName.values"
                    (click)="dropdownOptions.manufacturerName.currentvalue = manufacturer;selectValue('manufacturerName');selectManufacrurer();updateTable()">
                    {{manufacturer}}</li>
            </ul>
        </div>
    </div>
</div> -->