.workspace {
    display: flex;

}

.workspace main,
.workspace aside {
    margin: 1.5vw;
    box-sizing: border-box;
}

.workspace aside .list .values ul,
.workspace aside .list .values .current {
    background-color: white;
}


.workspace main .list .values ul,
.workspace main .list .values .current {
    background-color: white;
    display: block;
    text-align: left;
}

.workspace main .list .values .current {
    text-align: center;
}

.workspace main .list .values .current,
li {
    cursor: pointer;
}

.workspace .side-nav {
    /* height: 100vh; */
    background-color: white;
    width: 20%;
    margin: 0;
    /* position: fixed; */
    height: 100vh;
    padding: 1.5vw;
}

/* .workspace main .m-sections .m-table {
    width: 65%;
    height: 100%;
    background: white;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    margin: 0;
} */
/* 
.workspace main .m-sections .m-table .filter {
    padding: 1.5vw;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 0.1vw solid gray;
    cursor: pointer;
}

.workspace main .m-sections .m-table .filter .records {
    margin-right: 0;
}

.workspace main .m-sections .m-table .filter .records p {
    font-size: max(1vw, 15px);
}

.workspace main .m-sections .m-table .filter .preview {
    border: 0.1vw solid gray;
    margin: 0;
    padding: 0.5vw;
    display: flex;
    border-radius: 0.5vw;
    position: relative;
}

.workspace main .m-sections .m-table .filter .preview p {
    font-size: max(1vw, 15px);
    line-height: 1;
}

.workspace main .m-sections .m-table .filter .preview::before {
    content: url('../../assets/images/filter.svg');
    width: max(1vw, 15px);
    display: block;
    margin-right: 0.5vw;
    line-height: 1;
}

.workspace main .m-sections .m-table .filter .options-wrapper {
    position: relative;
    margin: 0;
}

.workspace main .m-sections .m-table .filter .options {
    position: absolute;
    top: 1vw;
    border-radius: 0.5vw;
    left: 0;
    height: 20vw;
    width: 20vw;
    border-radius: 0.5vw;
    background-color: white;
    box-shadow: 0 0 1vw 0.1vw gray;
} */

/* .workspace main .m-sections .m-table .view {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;

}

.workspace main .m-sections .m-table .view .layout {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 1.5vw;
    font-size: max(1vw, 15px);
}

.workspace main .m-sections .m-table .view .cols-def {
    color: gray;
}

.workspace main .m-sections .m-table .view .cols-def p {
    text-align: start;
}

.workspace main .m-sections .m-table .view .row {
    border-top: 0.1vw solid lightgray;
    cursor: pointer;
}

.workspace main .m-sections .m-table .view .row:hover {
    background-color: #3D83A9;
    color: white;
}


.workspace main .m-sections .m-table .view .cols-def .col-name {
    width: 100%;
}
 */

.label {
    /* font-size: max(1.25vw, 15px); */
    /* font-size: max(1vw, 10px); */
    font-weight: 600;
    font-size: max(1vw, 15px);
}

.label-h {
    font-size: max(1.75vw, 20px);
    font-weight: 600;
}

/* .options .list {
    margin: 1vw;
}

.list .values {
    margin: 1vw 0;
}

.list .values .values-wrapper {
    position: relative;
}


.list .values .current {
    padding: 0.5vw 2vw;
    color: black;
    border-radius: 0.5vw;
    display: inline-block;
    font-size: max(1vw, 5px);
    border: 0.1vw solid gray;
}

.list .values ul {
    position: absolute;
    top: 1vw;
    border-radius: 0.5vw;
    height: 40vh;
    width: 20vw;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: none;
    box-shadow: 0 0 1vw 0.1vw gray;
    z-index: 1;
}





ul .search {
    padding: 0;
    margin: 0;
}

ul li input {
    color: black;
    background-color: transparent;
    border: none;
    padding: 1vw;
    border-bottom: 0.1vw solid;
    font-size: max(1vw, 5px);
    width: 100%;
}

ul li input:focus {
    outline: none;
}

ul li {
    padding: 1vw;
    font-size: max(1vw, 5px);
    color: black;

} */

.components .component {
    margin: 1vw 0;
}

.components .component input {
    margin-right: 1vw;
    width: 1vw;
    height: 1vw;
    color: #525151;
}

/* .components .component input::before {
    content: "";
    background-color: #525151;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: -1;

} */

.components .component p {
    color: black;
    /* font-size: max(1vw, 5px); */
    text-decoration: underline;
    display: inline-block;
    font-size: max(1vw, 10px);
}

/* .side-nav .manufacturer .list .current p::after {
    content: url('../../assets/list.svg');
    transform: rotate(60deg);
    width: max(0.5vw, 5px);
    height: max(0.5vw, 5px);
    display: block;
} */

/* .side-nav .manufacturer .list ul {
    display: none;
} */

main {
    width: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-header {
    margin: 0 0 1.5vw 0;
}

.h {
    font-size: max(1.75vw, 20px);
    font-weight: 500;
}

.p {
    font-size: max(1vw, 15px);
}

.charts {
    width: 30%;
    height: 100vh;
}

/* button {
    padding: 0.5vw;
    background-color: #3D83A9;
    color: white;
    font-size: max(1vw, 5px);
    border-radius: 0.2vw;
    border: none;
    margin: 0;
    align-self: flex-start;
    cursor: pointer;
    height: 7%;
    width: 100%;
} */

.m-sections {
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
    display: flex;
    /* flex-direction: column; */
}

.m-side-nav {
    width: 35%;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-side-nav .view-item {
    height: 90%;
    background-color: white;
    border-radius: 0.5vw;
    width: 100%;
}

.m-side-nav .view-item .h {
    padding: 1.5vw;
    border-bottom: 0.1vw solid gray;
}

.m-side-nav .view-item .p {
    height: 60vh;
    overflow-y: scroll;
}

.m-side-nav .view-item .props {
    height: 65vh;
    overflow-y: scroll;
}

.m-side-nav .view-item .props .prop {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vw 1.5vw;
    text-align: left;
    /* border-bottom: 0.1vw solid lightgray; */
    display: flex;
    width: 100%;
    font-size: max(1vw, 10px);
    justify-content: space-around;
    /* word-break: break-all; */
}

.m-side-nav .view-item .props .prop p {
    margin: 0;
    width: 40%;
    hyphens: auto;
}

.m-side-nav .view-item .props .prop .key {
    color: rgb(195, 195, 195);
}



.list-wrapper {
    margin: 0;

}
/* 
.props {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.response {
    height: 45%;
    margin: 0;
}

.response {
    background-color: #3B3B3B;
    border-radius: 0.2vw;
}

.charts {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: unset;
}

.chart {
    height: max(14vw, 250px);
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    margin-bottom: 3vw;
}


.chart iframe {
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
    scale: 1.2;
}

.chart .wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease all;
    top: 0;
}

.chart .wrapper button {
    padding: 1vw 2vw;
    color: white;
    background-color: #1f1f1f;
    font-size: max(1.2vw, 10px);
    border-radius: 10%;
    border: none;
    cursor: pointer;
    align-self: center;
}

.chart .wrapper:hover {
    opacity: 1;
} */