<!-- <div class="workspace">
    <aside class="side-nav">
        <div class="list">
            <p class="label-h">Аналитика</p>
            <div class="values">
                <p class="current" (click)="selectValue('propertyName')">
                    {{dropdownOptions.propertyName.currentroute?.allias}}
                </p>
                <div class="values-wrapper">
                    <ul [ngStyle]="{display: dropdownOptions.propertyName.open ? 'block' : 'none'}">
                        <li class="search">
                            <input type="text" placeholder="поиск">
                        </li>
                        <li *ngFor="let prop of dropdownOptions.propertyName.routes"
                            (click)="dropdownOptions.propertyName.currentroute= prop;selectValue('propertyName')">
                            {{prop.allias}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="components">
            <div class="label">Компонеты</div>
            <div class="component" *ngFor="let component of componentTypes">
                <input type="checkbox" (click)="selectComponentTypes(component.value)" name="btn" [checked]="component.checked">
                <p>{{component.value}}</p>
            </div>

        </div>
    </aside>
    <main>
        <div class="m-header">
            <p class="h">Таблица</p>
            <p class="p">содержание производителей и компонентов</p>
        </div>
        <div class="m-sections">
            <section class="m-table">
                <div class="filter">
                    <div class="preview" (click)="openFilters =! openFilters">
                        <p>filter</p>
                    </div>
                    <div class="options-wrapper" [ngStyle]="{'display': openFilters ? 'block' : 'none'}">
                        <div class="options">
                            <div class="list-wrapper">
                                <div class="list">
                                    <p class="label">Производитель</p>
                                    <div class="values">
                                        <p class="current" (click)="selectValue('manufacturerName')">
                                            {{dropdownOptions.manufacturerName.currentvalue}}</p>
                                        <div class="values-wrapper">
                                            <ul [ngStyle]="{display: dropdownOptions.manufacturerName.open ? 'block' : 'none'}">
                                                <li class="search">
                                                    <input type="text" placeholder="поиск">
                                                </li>
                                                <li *ngFor="let manufacturer of dropdownOptions.manufacturerName.values"
                                                    (click)="dropdownOptions.manufacturerName.currentvalue = manufacturer;selectValue('manufacturerName');selectManufacrurer();updateTable()">
                                                    {{manufacturer}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="list">
                                    <p class="label">Тип компонента</p>
                                    <div class="values">
                                        <p class="current" (click)="selectValue('componentKind')">
                                            {{dropdownOptions.componentKind.currentvalue}}</p>
                                        <div class="values-wrapper">
                                            <ul
                                                [ngStyle]="{display: dropdownOptions.componentKind.open ? 'block' : 'none'}">
                                                <li class="search">
                                                    <input type="text" placeholder="поиск">
                                                </li>
                                                <li *ngFor="let kind of dropdownOptions.componentKind.values"
                                                    (click)="dropdownOptions.componentKind.currentvalue = kind;selectValue('componentKind');selectKind();updateTable()">
                                                    {{kind}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="list">
                                    <p class="label">Модель</p>
                                    <div class="values">
                                        <p class="current" (click)="selectValue('componentName')">
                                            {{dropdownOptions.componentName.currentvalue}}</p>
                                        <div class="values-wrapper">
                                            <ul
                                                [ngStyle]="{display: dropdownOptions.componentName.open ? 'block' : 'none'}">
                                                <li class="search">
                                                    <input type="text" placeholder="поиск">
                                                </li>
                                                <li *ngFor="let name of dropdownOptions.componentName.values"
                                                    (click)="dropdownOptions.componentName.currentvalue = name;selectValue('componentName');updateTable()">
                                                    {{name}}</li>
    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                    <div class="records">
                        <p class="p">Количество записей {{rows.length}}</p>
                    </div>
                </div>
                <div class="view">
                    <div class="cols-def layout">
                        <p>Компонент</p>
                        <p>Производитель</p>
                        <p>Тип компонента</p>
                        <p>Модель</p>
                    </div>
                    <div class="row layout" *ngFor="let row of rows" (click)="getItem(row)">
                        <p>{{row.ruComponentType}}</p>
                        <p>{{row.manufacturerName}}</p>
                        <p>{{row.ruComponentKind}}</p>
                        <p>{{row.componentName}}</p>
                    </div>
                </div>
            </section>
            <section class="m-side-nav">
                <div class="view-item">
                    <p class="h">Характеристики</p>
                    <div class="props" [innerHTML]="content">
                        <!-- {{properties}} -->
                        <!-- <div class="prop">
                            <p class="key">ключ</p>
                            <p class="value">значение</p>
                        </div> -->
                    </div>
                </div>
                <button [disabled]="dropdownOptions.propertyName.currentroute?.allias === '-'" (click)="navigate()">Создать графики</button>
            </section>
        </div>
       
    </main> -->
    <!-- <aside class=""></aside> -->
    <!-- <main>
        <div class="props">
            <div class="list-wrapper">
                <div class="list">
                    <p class="label">Производитель</p>
                    <div class="values">
                        <p class="current" (click)="selectValue('manufacturer')">{{dropdownOptions.manufacturer.currentvalue}}</p>
                        <div class="values-wrapper">
                            <ul [ngStyle]="{display: dropdownOptions.manufacturer.open ? 'block' : 'none'}">
                                <li class="search">
                                    <input type="text" placeholder="поиск">
                                </li>
                                <li *ngFor="let manufacturer of dropdownOptions.manufacturer.values" (click)="dropdownOptions.manufacturer.currentvalue = manufacturer;selectValue('manufacturer');selectManufacturer(manufacturer)">{{manufacturer}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <p class="label">Тип компонента</p>
                    <div class="values">
                        <p class="current" (click)="selectValue('componentKind')">{{dropdownOptions.componentKind.currentvalue}}</p>
                        <div class="values-wrapper">
                            <ul [ngStyle]="{display: dropdownOptions.componentKind.open ? 'block' : 'none'}">
                                <li class="search">
                                    <input type="text" placeholder="поиск">
                                </li>
                                <li *ngFor="let kind of dropdownOptions.componentKind.values" (click)="dropdownOptions.componentKind.currentvalue = kind;selectValue('componentKind');selectKind(kind)">{{kind}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <p class="label">Модель</p>
                    <div class="values">
                        <p class="current" (click)="selectValue('componentName')">{{dropdownOptions.componentName.currentvalue}}</p>
                        <div class="values-wrapper">
                            <ul [ngStyle]="{display: dropdownOptions.componentName.open ? 'block' : 'none'}">
                                <li class="search">
                                    <input type="text" placeholder="поиск">
                                </li>
                                <li *ngFor="let name of dropdownOptions.componentName.values" (click)="dropdownOptions.componentName.currentvalue = name;selectValue('componentName')">{{name}}</li>

                            </ul>
                        </div>
                    </div>
                </div>
              
            </div>

        </div>
        <div class="table">
            <div class="row">
                <p>manufacrurer</p>
                <p>componentKind</p>
                <p>componentName</p>
            </div>
        </div>
        <button [disabled]="dropdownOptions.propertyName.currentvalue === '-'">Создать графики</button>
    </main> -->
    <!-- <aside class="charts">
        <div class="chart">
            <div class="wrapper">
                <button>Перейти</button>
            </div>
        </div>
    </aside> -->
<!-- </div>

<app-loader [ngStyle]="{display: loader ? 'block' : 'none'}" /> -->