<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator [current]="'/home'" />
    </div>
    <div class="workspace">
        <!-- <header class="h-widget">
            <h1>{{ruComponentType === undefined ? "Charts" : ruComponentType}}</h1>
            <button class="def" (click)="openTable()">Просмотр компонентов</button>
        </header> -->
        <main>
            <div class="chart-wrapper">
                <div class="chart-wrapper-main">
                    <header>
                        <div class="tabs">
                            <div *ngFor="let chart of chartNames"
                                [ngClass]="{tab: true, horizontal: true, active: type===chart}"
                                (click)="type = chart; buildChart()">
                                <p>{{getChartAllias(chart)}}</p>
                            </div>
                        </div>
                    </header>
                    <section class="chart-window">
                        <div class="tabs tabs-vertical">
                            <div *ngFor="let column of displayedColumns"
                                [ngClass]="{tab: true, vertical: true, active: currentPropName === column}"
                                (click)="onColumnSelected(column); buildChart()">
                                <p>{{allias.get(column)}}</p>
                            </div>
                        </div>
                        <iframe [src]="url" frameborder="0"></iframe>
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>