<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator />
    </div> 
    <div class="workspace">
        <header class="h-widget">
            <h1>{{ruComponentType === undefined ? "Charts" : ruComponentType}}</h1>
        </header>
        <main>
            <div class="wrapper">
                <section class="chart-wrapper">
                    <iframe [src]="url" frameborder="0"></iframe>
                </section>
                <section class="selection">
                    <div class="column" *ngFor="let column of displayedColumns">
                        <input type="checkbox" (click)="onColumnSelected(column)"
                            [checked]="currentPropName === column" />
                        <p>{{allias.get(column)}}</p>
                    </div>
                    <app-chart-types-checkboxes (onChnage)="onChartTypeChnage($event)" />
                </section>
            </div>
        </main>
    </div>
</div>