iframe {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

/* 
.workspace {
    height: 100vh;
} */

.workspace main .t-wrapper {
    display: flex;
    /* height: 100%; */
    margin-bottom: 1vw;
}

.workspace main .t-wrapper .fav,
.workspace main .t-wrapper .stat,
.workspace main .b-wrapper .records {
    border-radius: 1vw;
}

.workspace main .b-wrapper .records {
    background-color: white;
}

.workspace main .t-wrapper .stat {
    /* height: 100%;
    background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workspace main .t-wrapper .fav {
    padding-right: 1vw;
    width: 40%;
    /* overflow-y: scroll; */
    /* display: grid;
    grid-template-columns: repeat(2, 47%); */
    justify-content: space-around;
    background-color: unset;
    gap: 1.5vw;

}

.workspace main .t-wrapper .fav .item input {
    margin: 0 0.5vw 0 0;
    width: max(0.8vw, 8px);
    height: max(0.8vw, 8px);
}

.workspace main .t-wrapper .fav .item {
    background-color: white;
    border-radius: 0.5vw;
    width: 100%;
    box-sizing: border-box;
    padding: 1vw 1.5vw;
    position: relative;
    margin-bottom: 0.5vw;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.context-menu {
    width: max(1.2vw, 12px);
    height: max(1.5vw, 15px);
    cursor: pointer;

}

.workspace main .t-wrapper .fav .item .item-header .item-header-wrapper {
    width: 90%;
    margin: 0;
}

.workspace main .t-wrapper .fav .item span {
    color: red;
    font-size: max(0.8vw, 8px);
}

.workspace main .t-wrapper .fav .item .type {
    color: gray;
    font-size: max(1vw, 10px);
    padding: 0 1vw 0 0;
}

.workspace main .t-wrapper .fav .item .info p {
    font-size: max(0.8vw, 8px);
}

.workspace main .t-wrapper .fav .item .info .info-header {
    margin-bottom: 0.5vw;
}

.workspace main .t-wrapper .fav .item .info .proc {
    font-size: max(1vw, 10px);
}

.workspace main .t-wrapper .fav .item {
    color: gray;
}

.workspace main .t-wrapper .fav .item .manufacturer {
    margin: 0.5vw 0;
    font-size: max(0.8vw, 8px);

}

.workspace main .t-wrapper .fav .item .type,
.workspace main .t-wrapper .fav .item .info,
.workspace main .t-wrapper .fav .item .manufacturer {
    margin: 0;
}

.workspace main .t-wrapper .fav .item .info {
    margin-top: 1vw;
}

.workspace main .t-wrapper .stat {
    width: 60%;
    /* margin-left: 1.5vw; */
}

.workspace main .t-wrapper .stat iframe {
    height: 70%;
}

.workspace main .b-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 30%; */
}

/* .workspace main .stat .b-wrapper iframe {
    height: 100%;
} */

.workspace main .b-wrapper .records-wrapper {
    width: 40%;
    margin: 0;
    overflow: hidden;
}

.workspace main .b-wrapper .records .view {
    width: 100%;
    height: 22vw;
    overflow-y: scroll;
}


.workspace main .b-wrapper .records .cols,
.workspace main .b-wrapper .records .cols p {
    color: gray;
}

.workspace main .b-wrapper .records .layout {
    display: flex;
    justify-content: space-between;
}

.workspace main .b-wrapper .records .layout .col {
    margin: 0;

}

.workspace main .b-wrapper .records .view .row {
    cursor: pointer;
    font-size: max(1vw, 10px);

}

.workspace main .b-wrapper .records .view .row .col :nth-child(0) {
    font-weight: 500;
}


.workspace main .b-wrapper .records .view .row .col :nth-child(1) {
    margin-right: 2vw;
}

.workspace main .b-wrapper .records .cols-wrapper {
    padding: 0.5vw 1.5vw;
}

.workspace main .b-wrapper .records .view .row {
    padding: 1.5vw;
}

.workspace main .b-wrapper .records .col {
    font-size: max(1.2vw, 12px);

}

.workspace main .b-wrapper .records .cols-wrapper {
    background-color: #ececec;

}

.workspace main .b-wrapper .records .list-wrapper .list {
    padding: 1vw;
    border-radius: 1vw;
}

.workspace main .b-wrapper .records .list-wrapper .list .values {
    margin: 0;
}

.workspace main .b-wrapper .records .values-wrapper ul {
    left: 1vw;
    right: unset;
}

.workspace main .b-wrapper .prod-stat,
.workspace main .b-wrapper .total-stat {
    background-color: white;
    border-radius: 1vw;
    margin: 0;
}

.workspace main .b-wrapper .prod-stat {
    width: 58%;
}

.workspace main .b-wrapper .total-stat {
    width: 17%;
    height: 10vw;
}