<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator />
    </div>
    <div class="workspace">
        <header class="h-widget">
            <h1>Количественная статистика выпускаемых электронных компонентов производителями</h1>
        </header>
        <main>
            <div class="t-wrapper">
                <section class="fav">
                    <div class="item" *ngFor="let component of componentTypes">
                        <div class="item-header">
                            <div class="item-header-wrapper">
                                <input type="radio" [checked]="type === component[0]" (click)="selectComponentTypes(component[0])" />
                                <a class="type"
                                    [href]="getSafeUrl(`componentType/${component[0]}`)">{{component[0]}}</a>
                                <span>{{component[1].countAll}} шт</span>
                            </div>
                        </div>
                        <div class="info">
                            <p class="info-header">Производители по наибольшему количеству выпускаемых компонентов типа
                                "{{component[0]}}"</p>
                            <!-- <p>- {{getManufacturersAsString(component[1].manufacturers)}}</p> -->
                            <p [innerHTML]="displayManufacturers(component[1].manufacturers)"></p>
                        </div>
                    </div>
                </section>
                <section class="stat">
                    <iframe [src]="url" frameborder="0"></iframe>

                </section>

            </div>
            <div class="b-wrapper">
                <section class="prod-stat">
                    <iframe src="chart/components/statistic-catalog/donut" frameborder="0"></iframe>
                </section>
                <app-manufacturer-count-table [all]="all" class="records-wrapper" />
            </div>
        </main>
    </div>
    <app-loader [ngStyle]="{display: loader ? 'block' : 'none'}" />
</div>