<div class="options">
    <div class="list-wrapper">
        <div class="list">
            <ul class="values">

                <li class="current" (click)="countyOptions.open =! countyOptions.open">
                    <img src="assets/images/bel.svg" alt="img">
                    <!-- <p>Беларусь</p> -->
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="values-wrapper">
        <ul [ngStyle]="{display: countyOptions.open ? 'block' : 'none'}">
            <li class="search">
                <input type="text" placeholder="поиск">
            </li>
            <li *ngFor="let country of countyOptions.values" (click)="countyOptions.currentValue = country">
                <img [ngStyle]="{'display' : country.image ? 'block' : 'none'}" [src]="country.image"
                    alt="img">
                <p>{{country.nameRu}}</p>
            </li>
        </ul>
    </div>
</div>