.app-main .workspace {
    height: 100vh;
    padding: 1vw;
    box-sizing: border-box;
}

.app-main .workspace main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    padding: 2vw;
    border-radius: 0.5vw;
    width: unset;
    height: 100%;
}

.wrapper {
    margin: 0;
}

.header h1 {
    font-size: max(2vw, 20px);
    font-weight: 400;
}

.header h3 {
    font-size: max(1.5vw, 15px);
    color: #7490f8;
    font-weight: lighter;
}

.header {
    padding-bottom: 2vw;
    margin-bottom: 1vw;
    border-bottom: 0.1vw solid grey;
}

.body p {
    font-size: max(1.2vw, 12px);
    font-weight: lighter;
}