<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator [current]="'/filters'" />
    </div>
    <div class="workspace">
        <main>
            <div class="wrapper">
                <div class="header" [innerHTML]="header"></div>
                <div class="body" [innerHTML]="body"></div>
            </div>
            <button (click)="getBack()" class="def">Назад</button>
        </main>
    </div>
    <app-loader [ngStyle]="{'display' : loader ? 'block' : 'none'}" />

</div>