<section class="records" [ngStyle]="{'border-radius': borderRadius}">
     <div class="header">
        <div class="block">
            <div class="search">
                <input type="text" [placeholder]="parameterAlias" (input)="search($event)">
            </div>
            <app-record-sorting [rows]="rows" [countName]="aliasName" [valueName]="parameterAlias" class="record-sorting"/>
        </div>
        <div class="block" [ngStyle]="{display: hideLabel ? 'flex' : 'flex' }">
            <p>Кол-во компонентов</p>
        </div>
    </div>
    <div class="view">
        <div class="row layout" *ngFor="let row of rows" (click)="noRedirect ? getValue(row.value, true) : openCatalog(row.value)" [ngClass]="{activated: row.value == currentValue }">
            <div class="col">
                <p>{{row.value}}</p>
            </div>
            <div class="col">
                <p>{{row.prodSummary}}</p>
            </div>
        </div>
    </div>
</section>