<div class="app-main">
    <div class="navigator-wrapper">
        <app-navigator [current]="'/selection-view-all'" />
    </div>
    <div class="workspace">
        <main>
            <div class="chart-wrapper">
                <!-- <aside class="aside-panel"> -->
                    <!-- <div class="panel-name">
                        <p>Все компоненты</p>
                    </div> -->
                    <!-- <div class="tabs">
                        <ul class="parent">
                            <li class="tab parent-tab" (click)="openClose(enComponentType)">
                                <p>{{getRuComponentTypeByEn(enComponentType)}}</p>
                            </li>
                            <ul class="children"
                                [ngStyle]="{display: componentTypesMap.get(enComponentType) && componentTypesMap.get(enComponentType)?.state ? 'block' : 'none'}">
                                <li *ngFor="let column of displayedColumns"
                                    [ngClass]="{tab: true, active: currentPropName === column}"
                                    (click)="onColumnSelected(column); buildChart()">
                                    <p>{{alias.get(column)}}</p>
                                </li>
                                <div class="line"></div>
                            </ul>
                        </ul>
                    </div> -->
                <!-- </aside> -->
                <div class="chart-wrapper-main">
                    <header>
                        <div class="tabs">
                            <div *ngFor="let enComponentType of getKeyArrayFromStorage()"
                                [ngClass]="{tab: true, horizontal: true, active: selectedEnComponentType===enComponentType}"
                                (click)="onRuComponentTypeSelected(enComponentType); initColumns()">
                                <p>{{prioritySchemaWrapper2Map.get(enComponentType)}} <span
                                        *ngIf="selectedEnComponentType===enComponentType">({{all.length}})</span> </p>
                            </div>
                        </div>
                    </header>
                    <div class="body-main">
                        <div class="t-body">
                            <div class="t-body-wrapper">
                                <table align="left" *ngIf="all.length; else template">
                                    <thead>
                                        <tr>
                                            <td *ngFor="let column of columns">{{column}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of all">
                                            <td *ngFor="let value of getRecordsFromObjAsArray(record)">{{value}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ng-template #template>
                                    <div class="warning">
                                        <div class="warning-wrapper">
                                            <div class="warning-header">
                                                <img [src]="'assets/images/not_found.svg'" alt="img">
                                                <p>Ничего не найдено</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="warning" *ngIf="error; else templateName">
                <div class="warning-wrapper">
                    <div class="warning-header">
                        <img [src]="'assets/images/'+iconName+'.svg'" alt="img">
                        <p>{{error}}</p>
                    </div>
                </div>
            </div>
            <ng-template #templateName>
                <header>
                    <div class="tabs">
                        <div *ngFor="let enComponentType of getKeyArrayFromStorage()"
                            [ngClass]="{tab: true, horizontal: true, active: selectedEnComponentType===enComponentType}"
                            (click)="onRuComponentTypeSelected(enComponentType); initColumns()">
                            <p>{{prioritySchemaWrapper2Map.get(enComponentType)}} <span
                                    *ngIf="selectedEnComponentType===enComponentType">({{all.length}})</span> </p>
                        </div>
                    </div>

                </header>
                <div class="body-main">
                    <div class="t-body">
                        <div class="t-body-wrapper">
                            <table align="left" *ngIf="all.length; else template">
                                <thead>
                                    <tr>
                                        <td *ngFor="let column of columns">{{column}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of all">
                                        <td *ngFor="let value of getRecordsFromObjAsArray(record)">{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #template>
                                <div class="warning">
                                    <div class="warning-wrapper">
                                        <div class="warning-header">
                                            <img [src]="'assets/images/not_found.svg'" alt="img">
                                            <p>Ничего не найдено</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-template> --> 
        </main>
    </div>
    <app-loader [ngStyle]="{display: loader ? 'block' : 'none'}" />
</div>