.popup-window {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.popup-window .warning {
    background-color: white;
    width: 30%;
    height: 25%;
    border-radius: 0.5vw;
    margin-top: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-window .warning .text-warning {
    padding: 1.5vw;
    font-size: max(1vw, 10px);
}
.popup-window .warning .warning-btn {
    margin: 0 1vw 1vw;
    display: flex;
    justify-content: flex-end;
}