p {
    display: flex;
}

.select-wrapper {
    position: relative;
}

.select-wrapper input {
    position: absolute;
    top: 0;
    display: block;
}

option:checked {
    font-weight: bold;
}

.option p {
    padding: .5vw;
}
