<div class="wrapper-table-names" >
        <!-- [style]="{display: 'flex', flexDirection: 'column'}" -->
         <!-- [style]="{display: 'none'}" -->
        <div class="view" >
                <div class="info">
                        <h1>Таблица:
                                {{dropBoxPropsMapConfig.get('ruComponentType').currentValue === 'Все' ? 'Не указано' :
                                `${dropBoxPropsMapConfig.get('ruComponentType').currentValue}`}}
                        </h1>
                        <p *ngFor="let column of columns; let i = index;">
                        {{alias.get(column)}}
                </p>
                </div>
        </div>
        <div class="table-names">
                <p class="step-description">Шаг {{index}}: Выбор таблицы компонента</p>
                <p *ngFor="let value of componentTypes"
                        [ngClass]="{type: true, activated: current === value.ruComponentType}"
                        (click)="onValueSelected(value)">{{value.ruComponentType}}</p>
        </div>
        <!-- <iframe class="main-view" src="/home?params=full-view" frameborder="0"></iframe> -->
</div>