.main-view {
    width: 80%;
    height: 100%;
    margin: 2vw 0 0;
}

.view .info {
    margin: 0 1vw 1vw 0;
}

.wrapper-table-names {
    display: flex;
    height: 100%;
}

.view {
    width: 30%;
}

.table-names {
    width: 100%;
    height: fit-content;
}

.view {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1.5vw 0;
}

.view {
    list-style-type: decimal;
    font-size: max(1vw, 10px);
}

.view .menu {
    margin-left: 1vw;
}


.view li {
    margin: 0 0 0 1vw;
    font-size: max(1vw, 1px);
}

.view .disabled a {
    text-decoration: none;
    color: black;
}

.view .disabled {
    pointer-events: none;
    opacity: 0.35;
}

.view a {
    cursor: pointer;
    text-decoration: underline;
}


.view .info {
    height: 100%;
    overflow: scroll;
}

.view .info span {
    font-size: max(1vw, 10px);
    color: #7490f8;
    display: block;
}

.view .info h1 {
    font-size: max(1.5vw, 15px);
    font-weight: lighter;
    margin-bottom: 1.5vw;
}

.view .info .info-header {
    font-size: max(1.5vw, 15px);
}

.view .info p {
    font-size: max(1.2vw, 12px);
    font-weight: lighter;
    padding: 0.5vw 0 0 0;
    border-top: 0.1vw solid grey;
    margin-right: 0.5vw;
    padding: 0.5vw 0;
}

.view .info .current {
    background: rgb(211, 211, 211, 0.5);
}
.table-names-wrapper {
    margin: 0;
}