.menu ul {
    list-style-type: none;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5vw;
    margin-bottom: 0.5vw;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 0.5vw;
}


.menu ul li:hover,
.menu ul .current {
    background: rgb(230, 230, 230);
}

.menu ul li {
    cursor: pointer;
}


.menu ul li a,
.menu ul li p {
    color: black;
    /* color: black; */
    margin: 0;
    font-size: max(1vw, 8px);
    /* text-decoration: underline; */
}
.menu ul .blocked  {
    opacity: 0.4;
}

.menu ul li img {
    width: max(1vw, 10px);
    height: max(1vw, 10px);
    scale: 1.2;
    margin-right: 0.5vw;
    margin: 0 0.5vw;
}

.menu {
    position: relative;
    /* width: 100%; */
    width: 18vw;
}

.close-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-icon {
    width: max(1.5vw, 15px);
    height: max(1.5vw, 15px);
    margin: 0;
    padding: .5vw 0 .5vw 1vw;
    /* position: absolute; */
    /* top: 1vw;
    left: 1vw; */
    /* z-index: 11;
    display: none; */
    cursor: pointer;
}

.floated-menu-btn .menu-icon {
    padding: 0;
    width: max(1.5vw, 15px);
    height: max(1.5vw, 15px);
}

.floated-menu-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 50%;
    background-color: lightblue;
    padding: 1vw;
    width: max(2vw, 20px);
    height: max(2vw, 20px);
    bottom: 1vw;
    left: 1vw;
}

.menu-wrapper {
    width: 22vw;
    overflow: hidden;
    display: flex;
    /* transition: 0.5s ease all; */
    /* background-color: rgba(75, 88, 108); */
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    padding: 1vw;
    position: fixed;
    z-index: 10;
    left: 0%;
    background: white;
    position: relative;
}

.section {
    height: 0.1vw;
    background-color: rgba(75, 88, 108);
    border-radius: 2vw;
    margin-bottom: 1vw;
}

.reveal-section {
    margin-left: 2vw;
}

.menu ul .reveal-section-child li {
    padding-left: 1.5vw;
}

/* .section-item {
    margin-left: 2vw;
} */

/* .section-link {
    margin-left: 5vw;
} */