.menu ul {
    list-style-type: none;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5vw;
    margin-bottom: 0.5vw;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 0.5vw;
}


.menu ul li:hover,
.menu ul .current {
    background: rgba(47, 55, 67);
}

.menu ul li {
    cursor: pointer;
}


.menu ul li a,
.menu ul li p {
    color: white;
    /* color: black; */
    margin: 0;
    font-size: max(1vw, 8px);
    /* text-decoration: underline; */
}
.menu ul .blocked li a {
    color: #939292;
}

.menu ul li img {
    width: max(1vw, 10px);
    height: max(1vw, 10px);
    scale: 1.2;
    margin-right: 0.5vw;
    margin: 0 0.5vw;
}

.menu {
    position: relative;
}

.menu-icon {
    width: max(1.5vw, 15px);
    height: max(1.5vw, 15px);
    position: absolute;
    top: 1vw;
    left: 1vw;
    z-index: 11;
    display: none;
}


.menu-wrapper {
    transition: 0.5s ease all;
    background-color: rgba(75, 88, 108);
    width: 20%;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    padding: 1vw;
    position: fixed;
    z-index: 10;
    left: 0%;
}

.section {
    height: 0.1vw;
    background-color: white;
    border-radius: 2vw;
    margin-bottom: 1vw;
}

.section-item {
    margin-left: 2vw;
}

.section-link {
    margin-left: 5vw;
}