<div class="menu-wrapper" [ngStyle]="{width: isOpen ? '0' : '100%', padding: isOpen ? '0': '1vw' }">
    <nav class="menu">
        <ul>
            <li [ngClass]="{current: current === '/home'}" (click)="openNewPage('/home')">
                <img src="assets/images/home.svg" alt="img">
                <a>Главная</a>
            </li>
            <!-- <li [ngClass]="{current: current === '/filters'}" (click)="openNewPage('/filters')">
                <img src="assets/images/catalog.svg" alt="img">
                <a>Фильтры</a>
            </li> -->
             <li [ngClass]="{current: current === '/selection-main'}" (click)="openSelectionPage()">
                <img src="assets/images/list.svg" alt="img">
                <a>Выборка</a>
            </li>
            <!-- <div class="section"></div>
            <li (click)="openCloseSelectionSection()">
                <img src="assets/images/list.svg" alt="img">
                <p>Выборка</p>
            </li>
            <div [ngClass]="{'reveal-section':true}" [ngStyle]="{'display': selectionSection ? 'block' : 'none'}">
                <li [ngClass]="{'section-item': true, current: current === '/selection-builder'}"
                    (click)="openNewPage('/selection-builder')">
                    <img src="assets/images/add-square.svg" alt="img">
                    <a>Создание</a>
                </li>
                <li [ngClass]="{'section-item': true}" (click)="openCloseViewSection()">
                    <img src="assets/images/table.svg" alt="img">
                    <a>Просмотр</a>
                </li>
                <div [ngClass]="{'reveal-section': true, 'reveal-section-child': true}"
                    [ngStyle]="{'display': viewSection ? 'block' : 'none'}">
                    <li [ngClass]="{'section-link': true, current: current === '/selection-view', blocked: lastSavedBlocked}"
                        (click)="openLastSaved()">
                        <a>Последняя сохраненная</a>
                    </li>
                    <li [ngClass]="{'section-link': true, current: current === '/selection-view-all'}"
                        (click)="openNewPage('/selection-view-all')">
                        <a>Все компоненты</a>
                    </li>
                </div>
                <li class="section-item" (click)="openCloseChartSection()">
                    <img src="assets/images/chart.svg" alt="img">
                    <p>Графики к выборке
                    <p>
                </li>
                <div [ngClass]="{'reveal-section': true, 'reveal-section-child': true}"
                    [ngStyle]="{'display': chartSection ? 'block' : 'none'}">
                    <li [ngClass]="{'section-link': true, current: current === '/table-chart/mixed', blocked: chartBlocked}"
                        (click)="openChartPage('/table-chart/mixed')">
                        <a>Паррето</a>
                    </li>
                    <li [ngClass]="{'section-link': true, current: current === '/table-chart/bar', blocked: chartBlocked}"
                        (click)="openChartPage('/table-chart/bar')">
                        <a>Гистограмма</a>
                    </li>
                    <li [ngClass]="{'section-link': true, current: current === '/table-chart/donut', blocked: chartBlocked}"
                        (click)="openChartPage('/table-chart/donut')">
                        <a>Кольцевая</a>
                    </li>
                    <li [ngClass]="{'section-link': true, current: current === '/table-chart/pie', blocked: chartBlocked}"
                        (click)="openChartPage('/table-chart/pie')">
                        <a>Секторная</a>
                    </li>
                     <li [ngClass]="{'section-link': true, current: current === '/table-chart/line', blocked: chartBlocked}"
                        (click)="openChartPage('/table-chart/line')">
                        <a>Тенденция</a>
                    </li>
                </div>
            </div> -->
            <!-- <li [ngClass]="{current: current === '/table-builder'}" class="section-item">
                <img src="assets/images/table.svg" alt="img">
                <a (click)="openNewPage('/table-builder')">Построение таблицы</a>
            </li>
            <li class="section-item">
                <img src="assets/images/chart.svg" alt="img">
                <p (click)="openCloseChartSection()">Графики к выборке
                <p>
            </li>

            <div [ngClass]="{'section-chart-wrapper': true, blocked: chartBlocked}"
                [ngStyle]="{'display': chartSection ? 'block' : 'none'}">
                <li [ngClass]="{'section-link': true, current: current === '/table-chart/mixed'}">
                    <a (click)="openChartPage('/table-chart/mixed')">Паррето</a>
                </li>
                <li [ngClass]="{'section-link': true, current: current === '/table-chart/bar'}">
                    <a (click)="openChartPage('/table-chart/bar')">Гистограмма</a>
                </li>
                <li [ngClass]="{'section-link': true, current: current === '/table-chart/donut'}">
                    <a (click)="openChartPage('/table-chart/donut')">Кольцевая</a>
                </li>
                <li [ngClass]="{'section-link': true, current: current === '/table-chart/pie'}">
                    <a (click)="openChartPage('/table-chart/pie')">Кругавая</a>
                </li>
            </div> -->
        </ul>
    </nav>
    <!-- <img src="assets/images/menu.svg" class="menu-icon" alt="img" (click)="openClose()">
    <div class="floated-menu-btn" [ngStyle]="{display: isOpen ? 'flex' : 'none' }" (click)="openClose()">
        <img src="assets/images/menu.svg" class="menu-icon" alt="img" >
    </div> -->
</div>