<img src="assets/images/menu.svg"  class="menu-icon" alt="img" (click)="openClose()">

<div class="menu-wrapper" [ngStyle]="{left: isOpen ? '-40%' : '0' }">
    <nav class="menu">
        <ul>
            <li>
                <img src="assets/images/home.svg" alt="img">
                <a routerLink="/">Главная</a>
            </li>
            <li>
                <img src="assets/images/catalog.svg" alt="img">
                <a routerLink="/catalog">Данные</a>
            </li>
            <!-- <li>
            <img src="assets/images/chart.svg" alt="img">
            <a routerLink="/chart-builder">Выбор графиков</a>
        </li> -->
            <li>
                <img src="assets/images/table.svg" alt="img">
                <a routerLink="/table-builder">Таблица</a>
            </li>
        </ul>
    </nav>
</div>