<nav class="menu">
    <ul>
        <li>
            <img src="assets/images/home.svg" alt="img">
            <a routerLink="/">Главная</a>
        </li>
        <!-- <li>
            <img src="assets/images/chart.svg" alt="img">
            <a routerLink="/charts">Charts</a>
        </li> -->
        <li>
            <img src="assets/images/catalog.svg" alt="img">
            <a routerLink="/catalog">Данные</a>
        </li>
        <li>
            <img src="assets/images/chart.svg" alt="img">
            <a routerLink="/chart-builder">Выбор графиков</a>
        </li>
    </ul>
</nav>
