button {
    padding: 0.5vw 1.5vw;
    font-size: max(1vw, 12px);
    border-radius: 0.2vw;
    border: none;
    margin: 0;
    cursor: pointer;
}

.def {
    background-color: #7490f8;
    color: white;
}

.def:disabled {
    background-color: lightgrey;
    color: rgb(195, 195, 195);
}

.rev {
    background-color: white;
    color: #7490f8;
    border: 0.1vw solid #7490f8;
}