.tabs {
    height: 100%;
}

.tabs .horizontal {
    margin-right: 0.3vw;
    /* border-radius: .5vw .5vw 0 0; */
}

.tabs .vertical {
    margin: 0 0 0.3vw 0;
    /* border-radius: 0 .5vw .5vw 0; */
    border-top: 0.1vw solid lightgray;
    border-right: 0.1vw solid lightgray;
    border-bottom: 0.1vw solid lightgrey;
}

.tabs .tab {
    display: flex;
    /* background-color: #e5e3e3;
    color: grey; */
    margin: 0;
    color: grey;
    /* background-color: rgba(51, 51, 51, 90%); */
    background: rgb(88, 88, 88);
    /* display: inline-block; */
    cursor: pointer;
    transition: 0.2s all ease;
}

.tabs .tab:hover {
    background-color: #7490f8;
    color: white;
}

.tabs .active {
    background-color: white;
    color: #7490f8;
}

.tabs-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.tabs .tab p {
    padding: 0 2vw;
    align-self: center;
    font-size: max(0.8vw, 8px);
}


.tab-header {
    padding: 1vw 0 1.5vw 1vw;
    font-weight: lighter;
    font-size: max(1.2vw, 12px);
}


.parent-tab p {
    transition: all ease 0.5s;
}

.parent-tab p::before {
    content: url("../../../assets/images/arrow-bottom-white.svg");
    width: max(1.5vw, 15px);
    height: max(1.5vw, 15px);
    transform: rotate(0deg);
}

.children .tab {
    padding-left: 2vw;
}