select,
::picker(select),
.option {
    font-size: max(.8vw, 8px);
}

* {
    box-sizing: border-box;
}


label {
    width: fit-content;
    align-self: center;
    padding: 0;
    margin: 0;
    font-size: max(1vw, 10px);
    padding-right: 1vw;
}

select, .drop-box {
    padding: .5vw;
    background: #eeeeee;
    transition: 0.4s;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: .25vw;
    margin: 0;
    width: 100%;
    border: .1vw solid lightgray;
}

.drop-box:hover,
.drop-box:focus,
select:hover,
select:focus {
    background: #dddddd;
}

select:focus {
    outline: none;
}
.drop-box:focus {
    outline: none;
}
/* 
select::picker-icon {
    color: #999999;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
    border: none;
} */

option, .option {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    background: #eeeeee;
    transition: 0.4s;
}

option:first-of-type {
    border-radius: .1vw .1vw 0 0;
}

option:last-of-type {
    border-radius: 0 0 .1vw .1vw;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

option:nth-of-type(odd) {
    background: white;
}

.selected {
    text-decoration: line-through;
}

.preview {
    display: none;
}

/* option:hover,
option:focus {
    background: plum;
} */

/* option .icon {
    text-box: trim-both cap alphabetic;
} */
/* 
option:checked {
    font-weight: bold;
} */

/* option::checkmark {
    order: 1;
}

::picker(select) {
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
    opacity: 1;
} */

/* @starting-style {
    ::picker(select):popover-open {
        opacity: 0;
    }
} */

.multiple-select-list-wrapper {
    position: relative;
}

.multiple-select-list-wrapper label {
    position: absolute;
    top: .6vw;
    left: .5vw;
    font-size: max(.8vw, 8px);
    pointer-events: none;
}

.multiple-select-list {
    position: absolute;
    left: 0;
    padding: 0;
    width: auto;
    overflow-y: scroll;
    height: 10vw;
}
.multiple-select-list option {
    padding: .5vw;
}

.option p {
    font-size: max(.8vw, 8px);
    padding: .5vw;
    margin: 0;
}

.option input {
    margin: 0 .25vw 0 .5vw;
}

