.multiple-select-list-wrapper {
    position: relative;
}

.multiple-select-list-wrapper label {
    position: absolute;
    top: .6vw;
    left: .5vw;
}

.multiple-select-list {
    position: absolute;
    left: 0;
    padding: 0;
    width: auto;
    overflow-y: scroll;
    height: 10vw;
}

.option p {
    padding: .5vw;
}